.App {
  font-family: 'Open Sans';
}

body {
  font-family: 'Open Sans';
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Added styles for Gallery, card, place case*/
.Gallery {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  flex-basis: calc(100% / 5); /*  */
  flex-shrink: 0; /* don't shrink, and don't wrap -> leave the container*/
}

@media screen and (min-width: 967px) and (max-width: 1127px) {
  .card {
    flex-basis: calc(100% / 4);
  }
}

@media screen and (max-width: 967px) {
  .card {
    flex-basis: calc(100% / 3);
  }
}
@media screen and (max-width: 480px) {
  .card {
    flex-basis: calc(100% / 2);
  }
}

.place-photo {
  width: 100%;
}

.card {
  padding: 0.5em;
  box-sizing: border-box;
  min-width: 10vh;
  max-width: 15vh;
}

.place-subtitle {
  text-transform: uppercase;
  font-size: medium;
  border-radius: 2px;
  /*color: #2a2a2a;*/
  color: #000000;
}

span.place-subtitle:hover {
  background-color: antiquewhite;
  color: darkblue;
  font-weight: bolder;
}

.place > * {
  margin: 4px 0;
  text-align: left;
  font-size: medium;
  display: flex;
  justify-content: space-evenly;
}

.App {
  font-family: sans-serif;
  color: rgb(72, 72, 72);
}

.app-wrapper{
  display: flex;
  flex-flow: column;
  font-family: 'Open Sans';
  width: 69%;
  max-width: 885px;
  background-color: #2a2a2a;
  min-height: 62vh;
  padding: 0.5%;
  margin-top: 0.1%;
}

.card-wrapper{
  display: flex;
  flex-flow: column;
  font-family: 'Open Sans';
  width: 100%;
  max-width: 887px;
  /*background-color: #61dafb;*/
  background-color: #ffffff;
  margin-top: 1%;

 }

.app-wrapper label{
  font-size: 32px;
  /*float: left;*/
  padding-bottom: 5px;
  justify-content: flex-end;
  margin-left: 2.5%;
  margin-top: 3%;
  font-weight: bold;
  /*color: #2a2a2a;*/
}

.card-wrapper label{
  font-size: 28px;
  /*float: left;*/
  padding-bottom: 5px;
  justify-content: flex-start;
  margin-left: 2.5%;
  /*color: #2a2a2a;*/
  color: #000000;
}

form{
  justify-content: center;
  width: 94.5%;
  margin-left: 2.5%;
}

select.select-city {
  display: flex;
  font-family: 'Open Sans';
  width: 100%;
  padding: 0.7%;
  font-size: 28px;
  justify-content: center;
  background-color: #e6e6e6;
}
.weather-img img{
  width: 95%;
  /*margin-left: 10%;*/
}

.weather-date{
  font-weight: bold;
  font-size: 19px;
  /*color: #2a2a2a;*/
  color: #000000;
}

/* Point the arrow upwards when the select box is open (active): */
select.select-city.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

button {
  background-color: #cf262a;
  font-weight: normal;
  width: 20vh;
  min-width: 15vh;
  max-width: 25vh;
  font-size: 28px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  /*margin-left: 60%;*/
  margin-right: 0.5%;
  float: right;
}

select {
  font-size: 16px;
  line-height: 1;
  border: 0;
  height: 54px;
  background: url(/assets/icons/icon_select.png) no-repeat right #ddd;
  -webkit-appearance: none;
}
